/* Place this in the CSS section in Lab.js settings page */

/* Make a blank background to put the experiment on-top of. */
#blankBackground {
    position: absolute;
    background-color: white;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    z-index: 99999999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* From original file */
#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#stimuli {
    display: flex;
    gap: 10px;
}

[hidden]{
    display: none !important;
}

.stimulus {
    background-color: black;
}

